
@{
    ViewData["Title"] = "Deposit";
}

<h1>Deposit</h1>
<p>@ViewData["ErrorMessage"]</p>



<html>
<div tyle=" text-align:center">

    <img src="~/image/logo.png" alt="Revature Bank " height="150" width="200">
</div>

<body>

    <h3>Make a Deposit and Secured your future.............</h3>


    <form asp-action="Deposit">


        <label>How much do you want to deposit?</label>
        <input type="number" name="amount" />
        <input type="hidden" asp-for=@ViewData["Id"] />
        <input type="submit" value="Deposit" class="btn btn-success" />
    </form>




</body>
</html>
