
@{
    ViewData["Title"] = "Transfer";
}

<h1>Transfer</h1>
<div tyle=" text-align:center">

    <img src="~/image/logo.png" alt="Revature Bank " height="150" width="200">
</div>

<p>@ViewData["ErrorMessage"]</p>


<body style="background-color: powderblue">

    <form style=" background-position: center" asp-action="Transfer">

        <label>Transfer Amount?</label>
        <input type="number" name="amount" /><br />
        <input type="hidden" asp-for=@ViewData["Id"] />

        <label>Account Types?</label><br />

        <input style="border-right-style: unset" type="radio" name="type" value="checking"> Checking<br>
        <input type="radio" name="type" value="business"> Business<br>
        <input type="radio" name="type" value="loans"> Loan<br>
        <input type="radio" name="type" value="terms"> Term Deposit<br>

        <label>Account Number of Selected Account Types</label>
        <input type="number" name="transId" /><br />

        <input type="submit" value="Transfer" class="btn btn-default" />
    </form>

</body>
