
@{
    ViewData["Title"] = "Withdraw";
}

<h1>Withdraw</h1>

<div tyle=" text-align:center">

    <img src="~/image/logo.png" alt="Revature Bank " height="100" width="200">
</div>


<p>@ViewData["ErrorMessage"]</p>

<body style=" text-align:center">
    <form asp-action="Withdraw">
        <label>How much do you want to withdraw?</label>
        <input type="number" name="amount" />
        <input type="hidden" asp-for=@ViewData["Id"] />
        <input type="submit" value="Withdraw" class="btn btn-danger" />
    </form>

    <br />
    <img src="~/image/withdraw.png" alt="Revature Bank " height="100" width="200">

</body>