
@{
    ViewData["Title"] = "About";
}

<h1 style="text-align:center">Here you can find how the web works</h1>
<body style="text-orientation:inherit">

    <div>
        <h3>Tack: </h3>
        <p>C# </p>
        <p>ASP.NET MVC (.NET Core) </p>
        <p> SQL Server</p> 
        <p> Entity Framework (Code First)</p> 
    </div>
    <div>


    </div>
    <p> C#</p>
    <p> ASP.NET MVC (.NET Core)</p> 
    <p> SQL Server</p>
    <p>Entity Framework (Code First) </p>
    <div>


    </div>

    <p> A Net Banking Application</p>
    <p> Checking Account</p> 
    <p> Business Account</p> 
    <p>Loan </p>
    <p> Term Deposit</p>
    <div>
        <p>Customer can have many accounts </p>
        <p> Checking Account can earn interest</p>
        <p> Business Account cannot earn interest</p>
        <p>Business Account can have an overdraft </p>
        <p>for e.g.; If there is $200 in my Business Account, I can still withdraw $300 from that account. The extra $100 will be considered as an overdraft facility, and interest will be charged on that $100, which will have to be repaid by the customer. </p>
        <p>All checking accounts have the same interest rate </p>
        <p>>You cannot withdraw amount from a Term Deposit before maturity </p>

    </div>

    <div>
        <p>Operations that can be performed: </p>
        <p>Register </p>
        <p>Logout </p><p>Login </p>
        <p> Open a new account</p>
        <p>Close an account </p>
        <p> Withdraw</p>
        <p>Deposit </p>
        <p> Transfer (between own accounts)</p>
        <p>Pay Loan installment (from one of the user's own accounts) </p>
        <p>Display list of accounts </p>
        <p>Display list of accounts </p>
        <p> Display last 10 transactions for an account</p>
        <p>Display transactions for a date range for an account </p>

    </div>
                                                                           


</body>

