
@{
    ViewData["Title"] = "Contact";
}

<h1 style="text-align:center">Contact</h1>
<body style=" text-align:center">
    <div>
        <img src="~/image//logo.jpg" alt="Revature Bank ">
        <br />
        <h4>
            <p>1150 ABC Drive 21061</p>
            <p>VA USA</p>
            <p>Ph:555-555-5555 </p> 
            <p>Fax:999-999-9909 </p>
            <p> Email:revaturebank@revature.com</p>
            <p> Web: revaturebank.com</p>

        </h4>


    </div>
</body>

