@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/StyleSheet.css">


</head>
<body>
    <div>
        <h2 style="text-align:center"> Welcome to Revature Bank</h2>
        <br />    <br />
        <h4 spellcheck="true"  style="text-align:center"> Trusted and Relable Banking for Everyone.</h4>
    </div>


    <div class="bs-example">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/image/Checking.jpg" alt="First Slide">
                    <br />
                    <h3 style="text-emphasis-color:white">Award Wining Services</h3>
                    <p>Enjoy World Class Banking.</p>
                </div>
                <div class="carousel-item">
                    <img src="~/image/tk.001.jpg" alt="Second Slide">
                    <h3 style="text-emphasis-color:white">Enjoy DIgital Banking .</h3>
                    <p>Best Service with Latestes Technology !</p>
                </div>
                <div class="carousel-item">
                    <img src="~/image/bank.jpg" alt="Third Slide">
                    <h3 style="text-emphasis-color:white">Plan your Financial Life With Us</h3>
                    <p>We love To help to secure your Financial Goal..</p>
                </div>
            
                <div class="carousel-item">
                    <img src="~/image/open.png" alt="Third Slide">
                    <h3 style="text-emphasis-color:white">Lets Start</h3>
                    <p>Secure your Hardwork.</p>
                </div>
           
                <div class="carousel-item">
                    <img src="~/image/tt.jpg" alt="Third Slide">
                    <h3 style="text-emphasis-color:white">Service with personal Touch</h3>
                    <p>Your money in your hand 24/7/365 !</p>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div>
        
        
    </div>
</body>
</html>




