<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Revature Bank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>




    <header style="display: block flex">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @*<nav class="navbar navbar-inverse">*@
            <div class="container-fluid">
                <partial name="_LoginPartial" />

                <img class=" navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" src="image/logo.png" style="width:100px;height:50px;border:1px " alt="Ravature Bank" />


                <ul class="nav navbar-nav">
                    <li class="active"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Info <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="index">View User Info</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="create">Create</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="MyCustomer">Display All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Checking <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Checkings" asp-action="create">Open Account</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Checkings" asp-action="index">Manage Account</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Checkings" asp-action="CheckingView">Transaction</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Business <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Businesses" asp-action="create">Open Account</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Businesses" asp-action="index">Manage Account </a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Businesses" asp-action="BusinessView">Transaction</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Loan <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Loans" asp-action="create">Open Account</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Loans" asp-action="index">Manage Account </a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Loans" asp-action="CustomLoan">Transaction</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Term Deposit <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Terms" asp-action="create">Open Account</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Terms" asp-action="index">Dispaly All Account</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Terms" asp-action="ViewTerms">Transaction</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statement <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Transactions" asp-action="index">Dispaly All Transaction</a></li>

                        </ul>
                    </li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-controller="Home" asp-action="About">Help</a></li>
                </ul>
            </div>
            </nav>

        </header>

        <body>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2019 - Project99 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)
        </body>
</html>
